header{
    height: 100vh;
    padding-top: 0;
    overflow: hidden;
}

.header-container{
    text-align: center;
    height: 100%;
    position: relative;
}
/* CTA */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

/* Header Socials */
.HeaderSocials-container{
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}
.HeaderSocials-container::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* Profile Photo of Mine */

.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    padding: 2rem 0;
}

.scroll_down{
    position: absolute;
    right: -2.5rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;


}
/* Medium Devices */
@media screen and (max-width: 1024px) {
    header{
        /* height: 68vh; */
    }
}


/* Small Devices */

@media screen and (max-width: 600px){
    header{
        height: 100vh;
    }

    .HeaderSocials-container,
    .scroll_down{
        display: none;
    }
}


/* CUSTOM NAVIGATION */

div#menu {
    padding: 1rem 0;
    display: flex;
}
div#menu .menu {
    display: inline-block;
    margin-left: auto;
}
ul.navPages-list .navPages-item {
    float: left;
    padding: 1rem;
}