.footer-copyright{
    background: var(--light-grad-pink-blue, radial-gradient(ellipse at 40% 0%, #bf398910 0, transparent 75%), radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 75%));
    background-color: #0d1117;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1rem;
    padding: 1rem;
}